.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPaper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 16px;
}

.field {
  width: 500px;
}

.button {
  margin-left: 16px !important;
}

.MuiInputBase-formControl {
  height: 100%;
}

.MuiFormControl-root {
  height: 100%;
}
